body{
  margin:0;
  font-family:Arial, sans-serif;
}


.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:#111;
  color:white;
}


.navbar a{
  margin:0 15px;
  color:white;
}


.hero{
  text-align:center;
  padding:100px 20px;
  background:#222;
  color:white;
}


.hero h1{
  font-size:50px;
}


.search input{
  padding:15px;
  width:300px;
}


button{
  padding:15px 25px;
  margin:10px;
  border:none;
  cursor:pointer;
}


.btn{
  background:#ff6600;
  color:white;
}


.section{
  padding:50px;
  text-align:center;
}


.cards{
  display:flex;
  gap:20px;
  justify-content:center;
}


.card,
.bike{

  padding:40px;
  width:200px;
  background:#eee;
  border-radius:10px;
  font-size:20px;

}